.tarjeta {
    display: flex;
    position: relative;
    border: 1px solid black;
    padding: .5em;
    margin: 1em;
    width: 50vw;
    justify-content:space-around;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); 
    background-color: beige;
}

.tarjeta h4 {
    display: flex;
    align-items: center;
    margin: 1em;
}

.status{
    display: flex;
    align-items: center;
    
}
.active {
    color: green;
}

.canceled {
    color: red;
}